* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #071013;
    color: #ffffff;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #071013f2;
    backdrop-filter: blur(12px);
    border-bottom: 1px solid #ffffff0d;
    z-index: 999;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    color: #39FF88;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {

    color: #2ecc71;
}

.problem {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10;
    background:
        linear-gradient(
            rgba(0,0,0,0.70),
            rgba(0,0,0,0.75)
        ),
        url("imgs/imagem-floresta.avif");
    background-position: center;
}

.problem-content {
    max-width: 900px;
}

.problem-tag {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    background: #2ecc711f;
    color: #2ecc71;
    border: 1px solid #2ecc7133;
}

.problem h1 {
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 25px;
}

.problem p {
    color: #b5b5b5;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 35px;
}

.problem-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.btn-primary, .btn-secondary {
    padding: 15px 30px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn-primary, .btn-secondary{
    border: 1px solid #2ecc71;
    color: #2ecc71; 
}

.btn-primary:hover, .btn-secondary:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px #2ecc7126;
    background: #2ecc71;
    color: #000;
}